<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    {{>inc_files}}
</head>

<body>
    <div class="main-content">
        {{>header}}
        
        <div class="table-container">
            <form action="/category_form_inter/{{category._id}}" method="POST">
                <div class="mb-3 col-sm-6">
                    <label for="title" class="form-label">Title</label>
                    <input type="text" name="title" class="form-control" required value='{{category.title}}' id="title" >
                </div>
                  <div class="row">
                    <div class="mb-3 col-sm-6">
                        <label for="coverImage" class="form-label">Order</label>
                        <input type="number" name="order" class="form-control" required value='{{category.order}}'
                            id="order">
                    </div>
                </div>
                <div class="row">
                      <div class="mb-3 col-sm-6">
                        <label for="status" class="form-label">Select Status</label>
                        <select name="status" id="status" class="form-control">
                            {{#selects category.status}}
                            <option value="">--Select Status--</option>
                            <option value="active">Active</option>
                            <option value="inactive">Inactive</option>
                            {{/selects}}
                        </select>
                    </div>
                </div>
                <button type="submit" class="btn btn-info btn-sm text-light">
                    {{#if category._id}}
                        Update
                    {{else}}
                        Add New
                    {{/if}}
                </button>
            </form>
        </div>

    </div>
    {{>footer}}
</body>

</html>